## All list methods and examples

In [ ]:
## Differnt types to assign list

list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1,2,3,4,5,6,7];
list3 = ["a", "b", "c", "d"];

In [2]:
##Accessing values in a list

list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1,2,3,4,5,6,7];
print( "list1[0]: ", list1[0])
print ("list2[1:5]:", list2[1:5])

list1[0]:  physics
list2[1:5]: [2, 3, 4, 5]

In [3]:
## Updating Lists

list = ['physics', 'chemistry', 1997, 2000]
print("value available at index2")
print(list[2])
list[2]=2001
print("value available at index 2")
print(list[2])

value available at index2
1997
value available at index 2
2001

In [4]:
list

['physics', 'chemistry', 2001, 2000]

In [5]:
list1 = ['physics', 'chemistry', 1997, 2000]
print("value available before delting index2")
print(list1[2])
del list1[2]
print("value available after delting index2")
print(list1[2])

value available before delting index2
1997
value available after delting index2
2000

In [6]:
list1

['physics', 'chemistry', 2000]

In [16]:
## some basis expression in list

len([1,2,3])

3

In [19]:
##Conacatenate

lista = [1,2,3]+[4,5,6]
lista

[1, 2, 3, 4, 5, 6]

In [21]:
##repetition
lisa = ['Hi!']*4
lisa

['Hi!', 'Hi!', 'Hi!', 'Hi!']

In [23]:
##membership
lisay= 3 in[1,2,3]
lisay

True

In [27]:
##iteration
for x in [1,2,3] : 
    print (x);

1
2
3

## Indexing Slices and Matrices

In [28]:
L = ['spam', 'Spam', 'SPAM']
L[2]

'SPAM'

In [29]:
L[-2]

'Spam'

In [30]:
L[1:]

['Spam', 'SPAM']

## Built in List functions and methods

In [58]:
## compare function(Python list method cmp() compares elements of two lists.)
##cmp(list1, list2)
##Returns : This function returns 1, if first list is “greater” than second list, -1 
##if first list is smaller than the second list else it returns 0 if both the lists are equal.
    
##Case 2 : When list contains multiple datatypes.
##The case when more than one datatypes, eg. string is contained in the string, string is considered to be greater than integer, 
##by this way, all datatypes are alphabetically sorted in case of comparison. 
##Size rule remains intact in this case
def cmp(a, b):
    return (a > b) - (a < b)
 
list1, list2 = [123, 'xyz'], ['abc', 456]
print(cmp(list1, list2))
print(cmp(list2, list1))
list3 = list2 + [786];
print(cmp(list2, list3))

TypeError: '>' not supported between instances of 'int' and 'str'

NameError: name 'cmp' is not defined

In [61]:
##Python list method len() returns the number of elements in the list.

list1, list2 = [123, 'xyz', 'zara'], [456, 'abc']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [63]:
##Python list method max returns the elements from the list with maximum value

list1 = ['123', 'xyz', 'zara', 'abc']
list2 = [456, 700, 200]
print( "Max value element : ", max(list1))
print ("Max value element : ", max(list2))

Max value element :  zara
Max value element :  700

In [64]:
##Python list method min() returns the elements from the list with minimum value.

list1 = ['123', 'xyz', 'zara', 'abc']
list2 = [456, 700, 200]
print( "Max value element : ", min(list1))
print ("Max value element : ", min(list2))

Max value element :  123
Max value element :  200

In [65]:
list(seq)

NameError: name 'seq' is not defined

In [2]:
##seq − This is a tuple to be converted into list.

aTuple = (123, 'xyz', 'zara', 'abc')
asta = list(aTuple)

print ("List elements : ", asta)

List elements :  [123, 'xyz', 'zara', 'abc']

In [3]:
##Python list method append() appends a passed obj into the existing list.
aList = [123, 'xyz', 'zara', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

In [4]:
##Python list method count() returns count of how many times obj occurs in list.

aList = [123, 'xyz', 'zara', 'abc', 123];
print ("Count for 123 : ", aList.count(123))
print ("Count for zara : ", aList.count('zara'))

Count for 123 :  2
Count for zara :  1

In [13]:
##Python list method extend() appends the contents of seq to list.

aList = [123, 'xyz', 'zara', 'abc', 123]
bList = [2009, 'manni']
aList.extend(bList)
print ("Extended List : ", aList )

Extended List :  [123, 'xyz', 'zara', 'abc', 123, 2009, 'manni']

In [15]:
aList = [123, 'xyz', 'zara', 'abc', 123]
bList = [2009, 'manni']
aList.append(bList)
print(aList)

[123, 'xyz', 'zara', 'abc', 123, [2009, 'manni']]

In [16]:
aList = [123, 'xyz', 'zara', 'abc', 123]
bList = [2009, 'manni']
aList.extend(bList)
print(aList)

[123, 'xyz', 'zara', 'abc', 123, 2009, 'manni']

In [18]:
##Python list method insert() inserts object obj into list at offset index.


aList = [123, 'xyz', 'zara', 'abc']
aList.insert( 3, 2009)
print ("Final List : ", aList)

Final List :  [123, 'xyz', 'zara', 2009, 'abc']

In [19]:
##Python list method pop() removes and returns last object or obj from the list.

aList = [123, 'xyz', 'zara', 'abc'];
print ("A List : ", aList.pop())

A List :  abc

In [20]:
aList

[123, 'xyz', 'zara']

In [21]:
print ("B List : ", aList.pop(2))

B List :  zara

In [22]:
aList

[123, 'xyz']

In [23]:
##Python list method remove() searches for the given element in the list and removes the first matching element.

aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.remove('xyz');
print( "List : ", aList)
aList.remove('abc');
print ("List : ", aList)

List :  [123, 'zara', 'abc', 'xyz']
List :  [123, 'zara', 'xyz']

In [25]:
##Python list method reverse() reverses objects of list in place.

aList = [123, 'xyz', 'zara', 'abc', 'xyz','gagan'];
aList.reverse();
print ("List : ", aList)

List :  ['gagan', 'xyz', 'abc', 'zara', 'xyz', 123]

In [30]:
##Python list method sort() sorts objects of list, use compare func if given.

aList = ['123', 'xyz', 'zara', 'abc', 'xyz'];
aList.sort();
print ("List : ", aList)

List :  ['123', 'abc', 'xyz', 'xyz', 'zara']